*{
  transition: all 0.3s;
}
i{
  font-style: normal;
}

@media screen and (max-width: 769px),print {
  
  .in_mobile_mode_set_fixed_height{
    height: 100%;
    padding-top: 0 !important;
    padding-bottom: 0!important;
    overflow-y: scroll;
    position: relative;

  }
}
@media screen and (min-width: 769px),print {
  .in_mobile_mode_set_fixed_height_parent{
    height: 65vh;
  }
  .in_mobile_mode_set_fixed_height{
    overflow-y: scroll;
    height: 100%;
    position: relative;
  }
}
.flex-grow{
  flex-grow: 1;
}
html{
  .panel-block:hover{
    background-color: #ccc;
  }
}
html.dark{
  .panel-block:hover{
    background-color: #222222;
  }
}
